jsonTester
logTest
patternController
stringTester
unitTests
widgetRcvr
*.dSYM
*.o
.*.swp
*~
*.DS_Store
cscope.out
database/log*
database/*.pdf
database/sql*.sql
database/widgetRcvr.out*
activeConfig.json
network_active.json
logs/*
stuff/*
src/.d/*
