# Copy this file to /etc/systemd/system then execute these commands:
#
#   sudo systemctl daemon-reload
#   sudo systemctl enable widgetRcvr2.service
#   sudo systemctl start widgetRcvr2.service
#
# Use these commands for troubleshooting:
#
#   sudo systemctl status widgetRcvr2.service
#   sudo journalctl -xe
#   sudo tail /var/log/user

[Unit]
# "man 5 systemd.unit" for help
Description=Illumicone widget data receiver
After=network.target
#After=patternController.service
StartLimitIntervalSec=0

[Service]
# "man 5 systemd.service" for help
# run as a daemon
Type=forking
ExecStart=/home/illumicone/bin/widgetRcvr --config_file=/home/illumicone/activeConfig.json --log_path=/home/illumicone/logs --daemon --pidfile=/home/illumicone/widgetRcvr2.pid --instance_name=widgetRcvr2
PIDFile=/home/illumicone/widgetRcvr2.pid
#
# run as a normal process
#Type=simple
#ExecStart=/home/illumicone/bin/widgetRcvr --config_file=/home/illumicone/activeConfig.json --log_path=/home/illumicone/logs --instance_name=widgetRcvr2
#
User=illumicone
WorkingDirectory=/home/illumicone
TimeoutSec=2
Restart=always
RestartSec=5
ExecReload=/bin/kill -USR1 $MAINPID

[Install]
# "man 5 systemd.unit" for help
WantedBy=multi-user.target

